.seqtext {
    font-family: Georgia, serif;
    white-space: pre;
    margin: 1em 0;
}

html,
body {
    padding: 0;
    background: #fff;
    height: 100%
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.site-body {
    margin-top: 32px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: center;
}

.site-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tab {
    width: 80%;
    font-family: 'Times New Roman', serif;
}

.bar.buttons.menu {
    height: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.site-footer {
    width: 100%;
    background-color: #EEE;
    color: #444;
    padding: 10px 0;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 5px 10px;
}

.navTool {
    height: 3px;
    width: 50%;
    position: absolute;
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    top: 33px;
    background-color: darkblue;
    left: 0;
}

.menuItem {
    width: 10px;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    padding: 8px 0;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
}

.menuItem:hover {
    background: rgba(255,255,255,0.1);
}

.menuItems {
    width: 100%;
    display: flex;
    place-content: space-around;
    background-color: #4F77AA;
}


.button {
    appearance: none;
    background-color: #4F77AA;
    /*border: 1px solid rgba(27, 31, 35, 0.15);*/
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-right: 16px;
}

.button:hover {
    /*background-color: #F3F4F6;*/
    opacity: 0.9;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button:active {
    opacity: 0.7;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button:focus {
    outline: 1px transparent;
}

.button:before {
    display: none;
}

.button::-webkit-details-marker {
    display: none;
}
